# Fichiers de modèles trop volumineux
*.gguf

# Dossiers temporaires ou spécifiques à l'OS/IDE
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
.idea/
.vscode/
.DS_Store
Thumbs.db

# Fichiers de logs et temporaires
*.log
*.tmp

# Fichiers générés
*.sqlite3
*.db
